<h2>Add a New Entry</h2>

<%= form_with model: @entry, url: entries_path, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </p>

  <p>
    <%= form.label :occurred_on, "Date" %>
    <%= form.date_field :occurred_on, class: "form-control" %>
  </p>

  <%= form.hidden_field :place_id, value: @place.id if @place %>

  <p>
    <%= form.submit "Save Entry", class: "btn btn-primary" %>
  </p>
<% end %>
