<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", media: "all" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Tacostagram</a>
        <div class="collapse navbar-collapse">
          <% if session[:user_id] %>
            <span class="navbar-text">Welcome, <%= User.find_by(id: session[:user_id])&.username || "User" %>!</span>
            <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-outline-danger ms-2" %>
          <% else %>
            <%= link_to "Login", login_path, class: "btn btn-outline-primary ms-2" %>
            <%= link_to "Signup", new_user_path, class: "btn btn-outline-success ms-2" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
    </div>
  </body>
</html>
