<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div>
    <body>
      <%= csrf_meta_tags %> <!-- ✅ Forces Rails to include CSRF tokens -->
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <nav>
      <a href="/">Home</a>

      <% if session[:user_id] %>
        <p>Welcome, <%= User.find_by(id: session[:user_id])&.username || "User" %>!</p>

        <%= link_to "Logout", logout_path, method: :delete, 
             data: { turbo_method: :delete, confirm: "Are you sure you want to log out?" } %>
      <% else %>
        <a href="/login">Login</a>
        <a href="/users/new">Signup</a>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
